{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">付款结算记录</h3>
    <div class="mb-2 d-print-none">
    <a href="{% url 'settlements:settlement_payment_add' contract.id %}" class="btn btn-primary mt-2 mb-2"><i class="fa fa-plus" aria-hidden="true"></i> 新增付款结算</a>
    <a href="{% url 'contracts:contract_detail' contract.contract_project.id contract.id %}" class="btn btn-info mt-2 mb-2"><i class="fa fa-info-circle" aria-hidden="true"></i> 合同详情</a>
    </div>
        {% if quantity == 0 %}
        <p>{{ contract.contract_name }}还没有付款结算记录，请新增付款结算。
        </p>
    {% else %}
        <p><small>{{ contract.contract_project.name }} - {{ contract.contract_name }}</small></p>
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">结算说明</th>
                    <th scope="col">应付结算款</th>
                    <th scope="col">扣款</th>
                    <th scope="col">实际付款</th>
                    <th scope="col">余款</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for settlement in settlements %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}
                        </th>
                        <td><a href="{% url 'settlements:settlement_payment_detail' settlement.id %}">{{ settlement.name }}</a></td>
                        <td>{{ settlement.payment_total|comma }}
                        </td>
                        <td>{{ settlement.deduction|comma }}</td>
                        <td>{{ settlement.total_paid|comma }}</td>
                        <td>{{ settlement.not_paid_yet|comma }}</td>
                        <td><a
                                href="{% url 'settlements:settlement_payment_edit' settlement.id %}">编辑</a> | <a href="{{ settlement.get_entry_add_url }}">新增明细
                         </a>{% if not settlement.is_paid %}
                            <span class="badge badge-danger">检查明细</span>
                         {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}