{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    {% if quantity == 0 %}
        <p>{{ contract.contract_name }}还没有支付结算记录，请<a href="{% url 'settlements:settlement_payment_add' contract.id %}">新增支付结算记录</a>
        </p>
        <a href="{% url 'contracts:contract_list' contract.contract_project.id %}" class="btn btn-secondary mt-2 mb-2">返回合同列表</a>
        <a href="{% url 'projects:project_detail' contract.contract_project.id %}" class="btn btn-secondary mt-2 mb-2">返回项目详情</a>
    {% else %}
        <h3 class="text-center mt-2">{{ contract.contract_name }} 支付结算记录</h3>
        <a href="{% url 'settlements:settlement_payment_add' contract.id %}" class="btn btn-primary mt-2 mb-2">新增付款结算记录</a>
        <a href="{% url 'contracts:contract_list' contract.contract_project.id %}" class="btn btn-secondary mt-2 mb-2">返回合同列表</a>
        <a href="{% url 'projects:project_detail' contract.contract_project.id %}" class="btn btn-secondary mt-2 mb-2">返回项目详情</a>
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">结算说明</th>
                    <th scope="col">应付结算款</th>
                    <th scope="col">扣款</th>
                    <th scope="col">实际付款</th>
                    <th scope="col">余款</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for settlement in settlements %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}
                        </th>
                        <td>{{ settlement.name }}</td>
                        <td>{{ settlement.payment_total|comma }}
                        </td>
                        <td>{{ settlement.deduction|comma }}</td>
                        <td>{{ settlement.total_paid|comma }}</td>
                        <td>{{ settlement.not_paid_yet|comma }}</td>
                        <td><a href="{% url 'settlements:settlement_payment_detail' settlement.id %}">详情</a> | <a
                                href="{% url 'settlements:settlement_payment_edit' settlement.id %}">编辑</a> | <a href="{{ settlement.get_entry_add_url }}">添加变动
                         </a>{% if not settlement.is_paid %}
                            <span class="badge badge-danger">检查变动</span>
                         {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}