{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h2 class="text-center">{{ contract.contract_name }} 支付结算记录 - {{ settlement.name }}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col" colspan="2">类别</th>
            <th scope="col">金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center ver" rowspan="4">应付结算款</td>
            <td>预付款项</td>
            <td>{{ settlement.payment_prepaid|comma }}</td>
        </tr>
        <tr>
            <td>合同款</td>
            <td>{{ settlement.payment_normal|comma }}</td>
        </tr>
        <tr>
            <td>其他</td>
            <td>{{ settlement.payment_other|comma }}</td>
        </tr>
        <tr>
            <td class="text-primary"><b>应支付合计</b></td>
            <td class="text-primary"><b>{{ settlement.payment_total|comma }}</b></td>
        </tr>

        <tr>
            <td class="text-center ver" rowspan="5">扣款项目</td>
            <td>预收款项</td>
            <td>{{ settlement.deduction_prepayment|comma }}</td>
        </tr>
        <tr>
            <td>质保金</td>
            <td>{{ settlement.deduction_warranty|comma }}</td>
        </tr>
        <tr>
            <td>违约金</td>
            <td>{{ settlement.deduction_damage|comma }}</td>
        </tr>
        <tr>
            <td>其他扣款</td>
            <td>{{ settlement.deduction_other|comma }}</td>
        </tr>
        <tr>
            <td class="text-primary"><b>扣款合计</b></td>
            <td class="text-primary"><b>{{ settlement.deduction|comma }}</b></td>
        </tr>

        <tr>
            <td class="text-primary text-center" colspan="2"><B>实际应付结算款</B></td>
            <td class="text-primary"><b>{{ settlement.real_payable|comma }}</b></td>
        </tr>

        <tr>
            <td class="text-center ver" rowspan="7">实际付款</td>
            <td>预付款</td>
            <td>{{ settlement.payment_real_prepaid|comma }}</td>
        </tr>
        <tr>
            <td>工程款</td>
            <td>{{ settlement.payment_real_normal|comma }}</td>
        </tr>
        <tr>
            <td>材料款</td>
            <td>{{ settlement.payment_real_material|comma }}</td>
        </tr>
        <tr>
            <td>租赁款</td>
            <td>{{ settlement.payment_real_rent|comma }}</td>
        </tr>
        <tr>
            <td>设计费</td>
            <td>{{ settlement.payment_real_design|comma }}</td>
        </tr>
        <tr>
            <td>其他</td>
            <td>{{ settlement.payment_real_other|comma }}</td>
        </tr>
        <tr>
            <td class="text-primary"><b>实际付款合计</b></td>
            <td class="text-primary"><b>{{ settlement.total_paid|comma }}</b></td>
        </tr>
        <tr>
            <td class="text-primary text-center" colspan="2"><B>余款</B></td>
            <td class="text-primary"><b>{{ settlement.not_paid_yet|comma }}</b></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group mb-2" role="group" aria-label="Basic example">
        <a href="{% url 'settlements:settlement_payment_edit' settlement.id %}" type="button" class="btn btn-primary">编辑结算信息</a>
        <a href="{% url 'settlements:settlement_payment_list' contract.id %}" type="button" class="btn btn-secondary">返回结算列表</a>
        <a href="#" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">删除该结算记录</a>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">删除该结算记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if user.is_superuser %}将删除该结算记录
                        相关的所有数据，删除之后不可恢复！{% else %}删除结算记录请联系管理员。{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <form action="{% url 'settlements:settlement_payment_delete' settlement.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" {% if user.is_superuser %}{% else %}disabled{% endif %}
                                class="btn btn-danger">确定
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block jscode %}

{% endblock %}