{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">增值税发票信息</h3>
    <div class="mb-2 d-print-none">
        <a href="{% url 'vat:vat_add_by_entry' entry.id %}" class="btn btn-primary mt-2 mb-2"><i class="fa fa-plus"
                                                                                                 aria-hidden="true"></i>
            新增发票</a>
        <a href="{% url 'entry:entry_detail' entry.id %}" class="btn btn-info mt-2 mb-2"><i class="fa fa-info-circle"
                                                                                            aria-hidden="true"></i> 明细详情</a>
        {% if contract %}
            <a href="{% url 'entry:contract_entry_list' contract.id %}" class="btn btn-info mt-2 mb-2"><i
                    class="fa fa-list-ul"
                    aria-hidden="true"></i> 合同明细</a>
        {% endif %}
        <a href="{% url 'entry:project_entry_list' project.id %}" class="btn btn-info mt-2 mb-2"><i
                class="fa fa-list-ul"></i> 项目明细</a>
    </div>
    {% if quantity == 0 %}
        <p>该明细还没有增值税发票信息，请新增发票。</p>
    {% else %}


        <p><small>{{ entry.project.name }} {% if entry.contract %}
            - {{ entry.contract.contract_name }}
        {% endif %}
            {% if entry.income_settlement %}
                - {{ entry.income_settlement.name }}
            {% endif %}
            {% if entry.payment_settlement %}
                - {{ entry.payment_settlement.name }}
            {% endif %}
         - {{ entry.note }} - {{ entry.description }}
        </small></p>
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">发票类型</th>
                    <th scope="col">发票编号</th>
                    <th scope="col">不含税额</th>
                    <th scope="col">税额</th>
                    <th scope="col">含税总额</th>
                    <th scope="col">已提交/收到</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ invoice.vat_type_str }}</td>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.price_without_vat|comma }}</td>
                        <td>{{ invoice.vat|comma }}</td>
                        <td>{{ invoice.price_with_vat|comma }}</td>
                        <td>
                            {% if invoice.send %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a title="编辑" href="{% url 'vat:vat_edit' invoice.id %}" class="text-primary h5"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;
                            {% if invoice.send %}
                                <a title="切换" href="{% url 'vat:vat_change_status' invoice.id %}"
                                   class="text-danger h5"><i
                                        class="fa fa-refresh" aria-hidden="true"></i></a>&nbsp;
                            {% else %}
                                <a title="切换" href="{% url 'vat:vat_change_status' invoice.id %}"
                                   class="text-info h5"><i
                                        class="fa fa-refresh" aria-hidden="true"></i></a>&nbsp;
                            {% endif %}

                            <a title="删除" id="delete" href="{% url 'vat:vat_delete' invoice.id %}"
                               class="text-danger todelete h5"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block jscode %}
    {#<script>#}
    function todelete(e) {
    if (!confirm('删除后不可恢复，确认吗？')){
    e.preventDefault()
    }
    }

    let as = document.getElementsByClassName('todelete')
    let i =0;
    for (; i < as.length; i++) {
    as[i].addEventListener('click',todelete)
    }

    {#</script>#}
{% endblock %}