{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">合同清单</h3>
    <div class=" mb-2 d-print-none">
    <a href="{% url 'contracts:contract_add' project.id %}" class="btn btn-primary mt-2 mb-2"><i class="fa fa-plus" aria-hidden="true"></i> 新增合同</a>
    <a href="{% url 'projects:project_detail' project.id %}" class="btn btn-info mt-2 mb-2"><i class="fa fa-info-circle" aria-hidden="true"></i> 项目详情</a>
    </div>
    {% if quantity == 0 %}
        <p>{{ project.name }}还没有合同，请新增合同。</p>
    {% else %}
            <p><small>{{ project.name }} </small></p>

        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">合同编号</th>
                    <th scope="col">合同名称</th>
                    <th scope="col">合同总价</th>
                    <th scope="col">累计收款</th>
                    <th scope="col">累计付款</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    <tr>
                        <th scope="row"><a href="{{ contract.get_absolute_url }}">{{ contract.contract_id }}</a>
                        </th>
                        <td>
                            {{ contract.contract_name|wrap }}
                        </td>
                        <td>{{ contract.contract_price|comma}}</td>
                        <td><a href="{% url 'settlements:settlement_list' contract.id %}">{{ contract.cal_total_cash_in|comma }}</a>{% if contract.is_net_cash_loss %}
                            <span class="badge badge-danger">现金流</span>
                        {% endif %}</td>
                        <td><a href="{% url 'settlements:settlement_payment_list' contract.id %}">{{ contract.cal_total_cash_out|comma }}</a>{% if contract.is_overpaid %}
                            <span class="badge badge-danger">超付</span>
                        {% endif %}</td>
                        <td><a href="{% url 'entry:contract_entry_list' contract.id %}">明细</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}