{% extends 'base/fix-nav.html' %}
{% load util_tag %}

{% block content %}
    <h3 class="text-center">合同类型</h3>
    <div class="row mb-3">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col">
            <form action="" method="post">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">提交</button>
            </form>
        </div>
        <div class="col-md-3 col-sm-1"></div>
    </div>
{% endblock %}