{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h2 class="text-center">明细详情</h2>

    <div class="mb-2 d-print-none" role="group" aria-label="Basic example">
        <a href="{% url 'entry:entry_edit' entry.id %}" type="button" class="btn btn-primary"><i class="fa fa-pencil"
                                                                                   aria-hidden="true"></i> 编辑</a>

        <a href="{% url 'entry:project_entry_list' entry.project.id %}" type="button" class="btn btn-info"><i class="fa fa-list-ul"
                                                                                   aria-hidden="true"></i> 项目明细</a>
        {% if entry.contract %}
        <a href="{% url 'entry:contract_entry_list' entry.contract.id %}" type="button" class="btn btn-info"><i class="fa fa-list-ul"
                                                                                   aria-hidden="true"></i> 合同明细</a>
        {% endif %}
        <a href="{% url 'vat:vat_list_by_entry' entry.id %}" type="button" class="btn btn-info">增值税信息</a>
      <a href="" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i> 删除</a>
    </div>
    <p><small>{{ entry.project.name }} {% if entry.contract %}
               - {{ entry.contract.contract_name }}
            {% endif %}
            {% if entry.income_settlement %}
                     - {{ entry.income_settlement.name}}
                {% endif %}
                {% if entry.payment_settlement %}
                     - {{ entry.payment_settlement.name}}
                {% endif %}

    </small></p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center" colspan="2">类别</th>
            <th scope="col">详情或金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" rowspan="5">基础信息</td>
            <td>所属项目</td>
            <td><a href="{{ entry.project.get_absolute_url }}">{{ entry.project.name }}</a></td>
        </tr>
        <tr>
            <td>所属合同</td>
            <td>{% if entry.contract %}
                <a href="{{ entry.contract.get_absolute_url }}">{{ entry.contract.contract_name }}</a>
            {% endif %} </td>
        </tr>
        <tr>
            <td>所属结算</td>
            <td>
                {% if entry.income_settlement %}
                    <a href="{{ entry.income_settlement.get_absolute_url }}">{{ entry.income_settlement.name}}</a>
                {% endif %}
                {% if entry.payment_settlement %}
                    <a href="{{ entry.payment_settlement.get_absolute_url }}">{{ entry.payment_settlement.name}}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>说明</td>
            <td>{{ entry.description }}</td>
        </tr>
        <tr>
            <td>凭证号</td>
            <td>{{ entry.note }}</td>
        </tr>


        <tr>
            <td class="text-center" rowspan="3">损益</td>
            <td>营业收入</td>
            <td>{{ entry.revenue|comma }}</td>
        </tr>
        <tr>
            <td>营业成本</td>
            <td>{{ entry.cost|comma }}</td>
        </tr>
        <tr>
            <td>其他损益</td>
            <td>{{ entry.others_profit_loss|comma }}</td>
        </tr>
        <tr>
            <td class="text-center" rowspan="8">资产类</td>
            <td>货币资金</td>
            <td>{{ entry.cash|comma }}</td>
        </tr>
        <tr>
            <td>合同履约成本</td>
            <td>{{ entry.capitalized_cost|comma }}</td>
        </tr>

        <tr>
            <td>合同资产</td>
            <td>{{ entry.contract_asset|comma }}</td>
        </tr>

        <tr>
            <td>合同取得成本</td>
            <td>{{ entry.acquisition_cost|comma }}</td>
        </tr>

        <tr>
            <td>应收账款</td>
            <td>{{ entry.accounts_receivable|comma }}</td>
        </tr>

        <tr>
            <td>预付账款</td>
            <td>{{ entry.accounts_prepaid|comma }}</td>
        </tr>

        <tr>
            <td>进项税金</td>
            <td>{{ entry.vat_input|comma }}</td>
        </tr>

            <tr>
            <td>其他资产</td>
            <td>{{ entry.others_asset|comma }}</td>
        </tr>

        <tr>
            <td class="text-center" rowspan="4">负债类</td>
            <td>合同负债</td>
            <td>{{entry.contract_liability|comma}}</td>
        </tr>

        <tr>
            <td>应付账款</td>
            <td>{{ entry.accounts_payable|comma }}</td>
        </tr>


        <tr>
            <td>销项税金</td>
            <td>{{entry.vat|comma}}</td>
        </tr>

            <tr>
            <td>其他负债</td>
            <td>{{entry.others_liability|comma}}</td>
        </tr>

    </table>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">删除该结算记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if user.is_superuser %}将删除 该结算记录
                        相关的所有数据，删除之后不可恢复！{% else %}删除明细记录请联系管理员。{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <form action="{% url 'entry:entry_delete' entry.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" {% if user.is_superuser %}{% else %}disabled{% endif %}
                                class="btn btn-danger">确定
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block jscode %}

{% endblock %}