{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    {% if quantity == 0 %}
        <p>{{ contract.contract_name }}还没有变动记录，请<a href="{% url 'contracts:contract_detail' project.id contract.id %}">返回详情页面。</a></p>
    {% else %}
        <h3 class="text-center mt-2">{{ contract.contract_name }}变动记录清单</h3>
        <a href="{{ contract.get_entry_add_url }}" class="btn btn-primary mt-2 mb-2">新增非结算变动</a>
        <a href="{% url 'contracts:contract_detail'  project.id contract.id %}" class="btn btn-secondary mt-2 mb-2">合同详情</a>
        <a href="{% url 'contracts:contract_list' project.id %}" class="btn btn-secondary mt-2 mb-2">合同列表</a>
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">所属结算</th>
                    <th scope="col">说明</th>
                    <th scope="col">收款金额</th>
                    <th scope="col">支付金额</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{% if entry.income_settlement %}
                            <a href="{{ entry.income_settlement.get_absolute_url }}">{{ entry.income_settlement.name|wrap }}</a>{% endif %}
                            {% if entry.payment_settlement %}
                                <a href="{{ entry.payment_settlement.get_absolute_url }}">{{ entry.payment_settlement.name|wrap }}</a>{% endif %}
                        </td>
                        <td>{{ entry.description }}</td>
                        <td>{{ entry.received_money|comma }}</td>
                        <td>{{ entry.paid_money|comma }}</td>
                        <td><a href="{% url 'entry:entry_detail' entry.id %}">详情</a> | <a href="{% url 'entry:entry_edit' entry.id %}">编辑</a>
                            | <a href="{% url 'vat:vat_list_by_entry' entry.id %}">增值税</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}