{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">项目明细记录列表</h3>
    <div class="mb-2 d-print-none">
{#    <a href="{{ project.get_entry_add_url }}" class="btn btn-primary mt-2 mb-2"><i class="fa fa-plus"#}
{#                                                                                   aria-hidden="true"></i> 新增项目明细</a>#}
    <a href="{% url 'contracts:contract_list' project.id %}" class="btn btn-info mt-2 mb-2"><i class="fa fa-files-o"
                                                                                               aria-hidden="true"></i>
        合同列表</a>
    <a href="{% url 'projects:project_detail' project.id %}" class="btn btn-info mt-2 mb-2"><i class="fa fa-info-circle"
                                                                                               aria-hidden="true"></i>
        项目详情</a>
    </div>
    {% if quantity == 0 %}
        <p><b>{{ project.name }}</b></p>
        <p>还没有明细记录。新增仅仅归属于本项目的明细，仅允许添加归属于合同（成本单元）的明细。新增归属于合同的明细，请至合同或结算页面。</p>
    {% else %}
        <p><small>{{ project.name }}</small></p>
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">所属合同</th>
                    <th scope="col">所属结算</th>
                    <th scope="col">说明</th>
                    <th scope="col">凭证号</th>
                    <th scope="col">收款金额</th>
                    <th scope="col">付款金额</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td title="{% if entry.contract %}{{ entry.contract.contract_name }}{% endif %}">{% if entry.contract %}<a href="{{ entry.contract.get_absolute_url }}">
                            {{ entry.contract.contract_name|wrap }}{% endif %}</a></td>
                        <td>{% if entry.income_settlement %}
                            <a href="{{ entry.income_settlement.get_absolute_url }}">{{ entry.income_settlement.name|wrap }}</a>{% endif %}
                            {% if entry.payment_settlement %}
                                <a href="{{ entry.payment_settlement.get_absolute_url }}">{{ entry.payment_settlement.name|wrap }}</a>{% endif %}
                        </td>
                        <td title="{{ entry.description }}">{{ entry.description|wrap }}</td>
                        <td>{{ entry.note }}</td>
                        <td>{{ entry.received_money|comma }}</td>
                        <td>{{ entry.paid_money|comma }}</td>
                        <td><a href="{% url 'entry:entry_detail' entry.id %}">详情</a> | <a
                                href="{% url 'entry:entry_edit' entry.id %}">编辑</a> | <a
                                href="{% url 'vat:vat_list_by_entry' entry.id %}">增值税</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}