{% load static %}
<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" crossorigin="anonymous">

    <style>{% block style %}{% endblock %}</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#导航条#}
{% block nav %}{% endblock %}

{#主体部分#}
{% block body %}{% endblock %}

{#页脚#}
{% block footer %}{% endblock %}
<script src="{% static 'js/jquery.slim.min.js' %}"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"
        crossorigin="anonymous"></script>
<script>{% block jscode %}{% endblock %}</script>
</body>
</html>