{% extends 'base/fix-nav.html' %}
{% load util_tag %}
{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center">{{ project.name }}</h3>
    <div class="mb-2 d-print-none" role="group" aria-label="Basic example">
        <a href="{% url 'projects:project_edit' project.id %}" type="button" class="btn btn-primary"><i
                class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
        <a href="{% url 'projects:project_edit_initial' project.id %}" type="button"
           class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> 编辑初始数据</a>
        <a href="{% url 'projects:project_budget' project.id %}" type="button" class="btn btn-info"><i
                class="fa fa-bar-chart" aria-hidden="true"></i> 项目预算</a>
        <a href="{% url 'contracts:contract_list' project.id %}" type="button" class="btn btn-info"><i
                class="fa fa-files-o" aria-hidden="true"></i> 项目合同</a>
        <a href="{% url 'entry:project_entry_list' project.id %}" type="button" class="btn btn-info"><i
                class="fa fa-list-ul" aria-hidden="true"></i> 项目明细</a>
        <a href="" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i
                class="fa fa-times" aria-hidden="true"></i> 删除</a>
    </div>
    <p><small>{{ project.name }}位于{{ project.address }}，项目经理为{{ project.manager }}。</small></p>
    <small>项目目前{% if project.active %}正在进行中{% else %}已结束{% endif %}。{% if project.start_time %}项目开始时间为：
        {{ project.start_time|date:'Y年m月d日' }}。{% endif %}{% if project.complete_time %}项目竣工时间为：
        {{ project.complete_time|date:'Y年m月d日' }}。{% endif %}</small>
    <small>{{ project.text }}</small>
    <h4 class="text-center">汇总数据</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">内容</th>
            <th scope="col">金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>已实现利润</td>
            <td>{{ project.current_profit|comma }}</td>
        </tr>
        <tr>
            <td>净现金流</td>
            <td>{{ project.current_net_cash_flow|comma }}</td>
        </tr>
        <tr>
            <td>累计增值税</td>
            <td>{{ project.current_net_vat|comma }}</td>
        </tr>
        <tr>
            <td>预算总收入</td>
            <td>{{ project.total_budget_income|comma }}</td>
        </tr>
        <tr>
            <td>预算总成本</td>
            <td>{{ project.total_budget_cost|comma }}</td>
        </tr>
        <tr>
            <td>预算间接费用</td>
            <td>{{ project.total_budget_expense|comma }}</td>
        </tr>
        <tr>
            <td>预算净利润</td>
            <td>{{ project.total_budget_net_profit|comma }}</td>
        </tr>
        <tr>
            <td>预算净利润率：</td>
            <td>{{ project.net_profit_ratio|rate }}</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-center">详细财务数据</h4>
    <div class="row mb-3">
        <div class="col-xs-12 col-md">
            {#            <h3 class="text-center">项目当前数据</h3>#}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">当前数据</th>
                    <th scope="col">金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>累计确认收入</td>
                    <td>{{ project.total_revenue|comma }}</td>
                </tr>
                <tr>
                    <td>累计确认成本</td>
                    <td>{{ project.total_cost|comma }}</td>
                </tr>
                <tr>
                    <td>合同履约成本</td>
                    <td>{{ project.total_capitalized_cost|comma }}</td>
                </tr>

                <tr>
                    <td>合同资产</td>
                    <td>{{ project.total_contract_asset|comma }}</td>
                </tr>

                <tr>
                    <td>合同负债</td>
                    <td>{{ project.total_contract_liability|comma }}</td>
                </tr>

                <tr>
                    <td>合同取得成本</td>
                    <td>{{ project.total_acquisition_cost|comma }}</td>
                </tr>

                <tr>
                    <td>累计收款</td>
                    <td>{{ project.total_accumulated_cash_in|comma }}</td>
                </tr>

                <tr>
                    <td>累计付款</td>
                    <td>{{ project.total_accumulated_cash_out|comma }}</td>
                </tr>

                <tr>
                    <td>应收账款</td>
                    <td>{{ project.total_accounts_receivable|comma }}</td>
                </tr>

                <tr>
                    <td>应付账款</td>
                    <td>{{ project.total_accounts_payable|comma }}</td>
                </tr>

                <tr>
                    <td>预付账款</td>
                    <td>{{ project.total_accounts_prepaid|comma }}</td>
                </tr>

                <tr>
                    <td>销项税金</td>
                    <td>{{ project.total_vat|comma }}</td>
                </tr>

                <tr>
                    <td>进项税金</td>
                    <td>{{ project.total_vat_input|comma }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% if project.detail.is_useful %}

            <div class="col-xs-12 col-md">
                {#                <h3 class="text-center">项目初始数据</h3>#}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">初始数据</th>
                        <th scope="col">金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>累计确认收入</td>
                        <td>{{ project.detail.accumulated_revenue|comma }}</td>
                    </tr>
                    <tr>
                        <td>累计确认成本</td>
                        <td>{{ project.detail.accumulated_cost|comma }}</td>
                    </tr>
                    <tr>
                        <td>合同履约成本</td>
                        <td>{{ project.detail.capitalized_cost|comma }}</td>
                    </tr>

                    <tr>
                        <td>合同资产</td>
                        <td>{{ project.detail.contract_asset|comma }}</td>
                    </tr>

                    <tr>
                        <td>合同负债</td>
                        <td>{{ project.detail.contract_liability|comma }}</td>
                    </tr>

                    <tr>
                        <td>合同取得成本</td>
                        <td>{{ project.detail.acquisition_cost|comma }}</td>
                    </tr>

                    <tr>
                        <td>累计收款</td>
                        <td>{{ project.detail.accumulated_cash_in|comma }}</td>
                    </tr>

                    <tr>
                        <td>累计付款</td>
                        <td>{{ project.detail.accumulated_cash_out|comma }}</td>
                    </tr>

                    <tr>
                        <td>应收账款</td>
                        <td>{{ project.detail.accounts_receivable_balance|comma }}</td>
                    </tr>

                    <tr>
                        <td>应付账款</td>
                        <td>{{ project.detail.accounts_payable_balance|comma }}</td>
                    </tr>

                    <tr>
                        <td>预付分包款</td>
                        <td>{{ project.detail.accounts_prepaid_balance|comma }}</td>
                    </tr>

                    <tr>
                        <td>销项税金</td>
                        <td>{{ project.detail.vat|comma }}</td>
                    </tr>

                    <tr>
                        <td>进项税金</td>
                        <td>{{ project.detail.vat_input|comma }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        {% endif %}
    </div>

    <h4 class="text-center">资金数据</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">内容</th>
                <th scope="col">金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>合同付款</td>
                <td>{{ project.project_paid_with_contract|comma }}</td>
            </tr>
            <tr>
                <td>非合同付款</td>
                <td>{{ project.project_paid_with_no_contract|comma }}</td>
            </tr>
            <tr>
                <td>不属于任何合同的费用支出</td>
                <td>{{ project.none_contract_cost|comma }}</td>
            </tr>


            </tbody>
        </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">删除该项目</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if user.is_superuser %}将删除<span class="text-danger"> {{ project.name }}</span>
                        相关的所有数据，删除之后不可恢复！{% else %}删除项目请联系管理员。{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <form action="{% url 'projects:project_delete' project.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" {% if user.is_superuser %}{% else %}disabled{% endif %}
                                class="btn btn-danger">确定
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jscode %}
    {#    $(':text').addClass('form-control');#}
    {#    $('textarea').addClass('form-control');#}
    {#    $('#id_active').addClass('form-check-input');#}
    {#    $('.form-check label').addClass('form-check-label');#}

{% endblock %}