{% extends 'base/fix-nav.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row mb-2">
                <div class="col-sm-0 col-md-3"></div>
                <div class="col-sm-12 col-md-6">
                    <div style="margin:0 auto" class="text-center alert alert-success alert-dismissible fade show"
                         role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-0 col-md-3"></div>
            </div>

        {% endfor %}
    {% endif %}
    {% if quantity == 0 %}
        <p>还没有任何项目，请<a href="{% url 'projects:project_add' %}">新增项目</a></p>
    {% else %}
        <h3 class="text-center mt-2">项目清单</h3>
        <a href="{% url 'projects:project_add' %}" class="btn btn-primary mt-2 mb-2">新增项目</a>
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">项目名称</th>
                    <th scope="col">项目地址</th>
                    <th scope="col">项目经理</th>
                    <th scope="col">是否有效</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <th scope="row"><a href="{% url 'projects:project_detail' project.id %}">{{ project.name }}</a>
                        </th>
                        <td>{{ project.address }}</td>
                        <td>{{ project.manager }}</td>
                        <td>{% if project.active %}
                            <i class="fa fa-check text-success" aria-hidden="true"></i>{% else %}
                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        {% endif %} </td>
                        {#                        <td><a href="{{ project.get_absolute_url }}">详情</a> | <a href="{% url 'projects:project_edit' project.id %}">编辑</a> | <a href="{% url 'projects:project_edit_initial' project.id %}">修改初始数据</a></td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}