{% extends 'base/fix-nav.html' %}

{% block content %}
    <h3 class="text-center">修改项目初始财务数据</h3>
    <div class="row mb-3">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md">
            <form action="{% url 'projects:project_edit_initial' project.id %}" method="post">
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">提交</button>
                <a href="{% url 'projects:project_detail' project.id %}" class="btn btn-secondary">返回项目详情</a>

            </form>
        </div>
        <div class="col-md-3 col-sm-1"></div>

    </div>


{% endblock %}

{% block jscode %}
    $('input').addClass('form-control');
{#    $('textarea').addClass('form-control');#}
{#    $('#id_active').addClass('form-check-input');#}
{#    $('.form-check label').addClass('form-check-label');#}


{% endblock %}