{% extends 'base/fix-nav.html' %}
{% load util_tag %}

{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">项目预算</h3>
    <div class="mb-2 d-print-none">
        <a href="{% url 'projects:project_budget_add' project_id %}" class="btn btn-primary" type="button"><i class="fa fa-plus" aria-hidden="true"></i> 新增预算</a>
        <a href="{% url 'projects:project_detail' project_id %}" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i> 项目详情</a>
    </div>
    {% if quantity == 0 %}
        <p>无任何预算条目，请新增预算。</p>
    {% else %}
        <p><small>{{ project.name }}</small></p>
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">预算条目</th>
                <th scope="col">目标收入</th>
                <th scope="col">目标成本</th>
                <th scope="col">间接费用</th>
                <th scope="col">目标利润</th>
                <th scope="col">实际成本</th>
                <th scope="col">说明</th>
                <th scope="col" class="d-print-none">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for budget in budgets %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ budget.cost_type }}</td>
                    <td>{{ budget.target_revenue|comma }}</td>
                    <td>{{ budget.target_cost|comma }}</td>
                    <td>{{ budget.target_expense|comma }}</td>
                    <td>{{ budget.actual_profit|comma }}</td>
                    <td>{{ budget.actual_cost|comma }}</td>
                    <td>{{ budget.description }}</td>
                    <td class="d-print-none"><a class="h5" href="{% url 'projects:project_budget_edit' budget.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;<a
                            href="{% url 'projects:project_budget_delete' project_id budget.id %}" class="text-danger h5 todelete"
                            disabled="disabled"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-primary">合计</td>
                <td class="text-primary">{{ project.total_budget_income|comma }}</td>
                <td class="text-primary">{{ project.total_budget_cost|comma }}</td>
                <td class="text-primary">{{ project.total_budget_expense|comma }}</td>
                <td class="text-primary">{{project.total_budget_net_profit|comma}}</td>
                <td class="text-primary"></td>
                <td class="text-primary"></td>
                <td class="text-primary"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-danger h5">利润合计 {{project.total_budget_net_profit|comma}}</td>
                <td colspan="2" class="text-danger h5">利润率 {{ project.net_profit_ratio|rate }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    {% endif %}




{% endblock %}

{% block jscode %}
    $('input').addClass('form-control');
    $('textarea').addClass('form-control');

    function todelete(e) {
            if (!confirm('删除后不可恢复，确认吗？')){
                e.preventDefault()
            }
    }

    let as = document.getElementsByClassName('todelete')
    let i =0;
    for (; i < as.length; i++) {
        as[i].addEventListener('click',todelete)
    };
    console.log(as);

{% endblock %}