{% extends 'base/fix-nav.html' %}
{% load util_tag %}

{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">{{ project.name }}预算</h3>
    {% if quantity == 0 %}
        <p>无任何预算条目。</p>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">预算条目</th>
                <th scope="col">目标收入</th>
                <th scope="col">目标成本</th>
                <th scope="col">目标利润</th>
                <th scope="col">管理费用</th>
                <th scope="col">变更时间</th>
                <th scope="col">说明</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for budget in budgets %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ budget.cost_type }}</td>
                    <td>{{ budget.target_revenue|comma }}</td>
                    <td>{{ budget.target_cost|comma }}</td>
                    <td>{{ budget.target_profit|comma }}</td>
                    <td>{{ budget.target_expense|comma }}</td>
                    <td>{{ budget.change_time|date:'Y年m月d日' }}</td>
                    <td>{{ budget.description }}</td>
                    <td><a href="{% url 'projects:project_budget_edit' budget.id %}">编辑</a> | <a
                            href="{% url 'projects:project_budget_delete' project_id budget.id %}" class="text-danger"
                            disabled="disabled">删除</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-primary">合计</td>
                <td class="text-primary">{{ project.total_budget_income|comma }}</td>
                <td class="text-primary">{{ project.total_budget_cost|comma }}</td>
                <td class="text-primary"></td>
                <td class="text-primary">{{ project.total_budget_expense|comma }}</td>
                <td class="text-primary"></td>
                <td class="text-primary"></td>
                <td class="text-primary"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-danger h5">目标利润 {{project.total_budget_net_profit|comma}}</td>
                <td colspan="2" class="text-danger h5">利润率 {{ project.net_profit_ratio|rate }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    {% endif %}

    <p>
        <a href="{% url 'projects:project_budget_add' project_id %}" class="btn btn-primary" type="button">添加预算条目</a>
        <a href="{% url 'projects:project_detail' project_id %}" class="btn btn-secondary">返回项目详情</a>
    </p>


{% endblock %}

{% block jscode %}
    $('input').addClass('form-control');
    $('textarea').addClass('form-control');

{% endblock %}