{% extends 'base/fix-nav.html' %}

{% block content %}
    {% include 'base/message.html' %}
    <h3 class="text-center mt-2">项目列表</h3>
    <div class="mb-2 d-print-none">
    <a href="{% url 'projects:project_add' %}" class="btn btn-primary mt-2 mb-2"><i class="fa fa-plus" aria-hidden="true"></i> 新增项目</a>
    </div>
    {% if quantity == 0 %}
        <p>还没有任何项目，请新增项目。</p>
    {% else %}
        <div class="table-responsive-lg">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">项目名称</th>
                    <th scope="col">项目地址</th>
                    <th scope="col">项目经理</th>
                    <th scope="col">是否有效</th>
                    <th scope="col" class="d-print-none">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <th scope="row"><a href="{{ project.get_absolute_url}}">{{ project.name }}</a>
                        </th>
                        <td>{{ project.address }}</td>
                        <td>{{ project.manager }}</td>
                        <td>{% if project.active %}
                            <i class="fa fa-check text-success" aria-hidden="true"></i>{% else %}
                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        {% endif %} </td>
                        <td class="d-print-none"><a href="{% url 'projects:project_budget' project.id %}">预算</a> | <a href="{% url 'contracts:contract_list' project.id %}">合同</a> |
                            <a href="{% url 'entry:project_entry_list' project.id %}">明细</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}